{% extends 'base.html' %} {% load static %} {% block title %} جزئیات
{{work.title}} {% endblock %} {% block content %}
<!--body content start-->

<div class="page-content">
  <section>
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-8 mb-10 mb-lg-0 order-lg-1">
          <div class="service-image mb-5">
            <a href="{{work.image.url}}">            <img style="max-width: 100%" class="rounded " src="{{ work.image.url }}" alt="..." />
            </a>
          </div>
          <h3 style="font-family: avini">{{work.title}}</h3>
          <hr/>
          <div class="row">
            <div class="col-lg-4">
              {% for cat in work.category.all %}
              <span style="font-size: 20px;"> دسته بندی :{{cat.name}}</span>
              {% endfor %}
            </div>
            <div style="font-size: 20px;" class="col-lg-4">
              وضعیت : <i class="bi bi-check-circle-fill text-success"></i>
            </div>
            <div style="font-size: 20px;" class="col-lg-4">تاریخ انتشار:{{ work.created_date }}</div>
          </div>
          <div class="row">
            <div style="font-size: 20px;" class="col-lg-4">
                تعداد بازید :{{work.counted_view}}نفر
            </div>
            <div style="font-size: 20px;" class="col-lg-4">
                مجری : {{work.director}}
            </div>
          </div>
          <hr/>
          <h5 style="font-family: avini">توضیحات</h5>
          <p style="font-family: sans">{{work.discription}}</p>
          <h5 style="font-family: avini">توضیحات تکمیلی</h5>

          <p style="font-family: sans">{{work.discription2}}</p>
          <div class="row mt-4"></div>
          <div class="row my-7">
            <h3 style="font-family: avini;">نظرات شما </h3>
          {% if comments %}
          {% for item in comments %}

          <div class="row">
            <div class="mb-4 mb-md-0 col-md-auto">
              <img class="img-fluid rounded" alt="image" style="width: 80px;height: 80px;" src="{% static 'images/user.png' %}">
            </div>
            <div class="col-md">
              <h6 class="mb-2">{{item.name}}</h6>
              <p>{{item.message}}</p>
              <span class="text-theme">
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
              </span>
            </div>
          </div>
          {% endfor %}


          {% else %}
          <div class="col-lg-12 d-flex justify-content-center align-items-center bg-danger text-white" style="font-size: 22px;border-radius: 20px;">
            هیچ نظری تایید نشده است 
          </div>
          

          {% endif %}
            

          <div class="mt-3">
            <div class="post-comments white-bg box-shadow rounded p-4">
              <h4 class="mb-4">اضافه کردن نظر</h4>
              <form method="post" >
                {% csrf_token %}
                <div class="messages"></div>
                <div class="form-group">
                  <input id="form_name" type="text" name="name" class="form-control" placeholder="نام شما" required="required" data-error="اسمتان رت بنویسید.">
                  <div class="help-block with-errors"></div>
                </div>

                <div class="form-group">
                <input value="{{request.user.email}}" id="form_email" type="email" name="email"  class="form-control" placeholder="آدرس ایمیل خودرا وارد کنید " required="required" data-error="Valid email is required.">
                <div class="help-block with-errors"></div>
              </div>


          
              
               
                <div class="form-group">
                  <textarea id="form_message" name="message" class="form-control" placeholder="نوشتن نظر" rows="4" required="required" data-error="پیغامی بگذارید."></textarea>
                  <div class="help-block with-errors"></div>
                </div>
                {{form.captcha}} <br/>
                <button type="submit" class="themeht-btn primary-btn mt-3"><span>انتشار</span><i class="bi bi-arrow-left"></i></button>
             
              </form>
            </div>
          </div>
          </div>
        </div>
        <div class="col-12 col-lg-4 pe-lg-8">
          <div class="service-sidebar" >
            <div class="service-widget" style="background-color: #d9d9d95c;">
              <h5 class="widget-title">تک تیم همه فن حریف !</h5>
              <p style="font-size: 20px;">دسته بندی دوره ها </p>
              <ul class="service-menu list-unstyled mb-0">
               {% for cat in categorys %}

               <li class="active">
                <a style="font-family: sans;" href="{% url 'courses:category_courses' cat.name %}">{{cat.name}} </a>
              </li>

               {% endfor %}
              
              </ul>
            </div>
            <div class="service-widget p-0">
              <div class="contact-widget grediant-bg3 rounded">
                <h3 class="mb-2 text-white">تماس برای راهنمایی</h3>
                <p class="text-white">
                  تماس بگیرید و به ما اطلاع دهید که چگونه می توانیم در اسرع وقت
                  به تماس کمک کنیم.
                </p>
                <a class="themeht-btn primary-btn" href="{% url 'about:about'%}">
                  <span>درخواست مشاوره</span>
                  <i class="bi bi-arrow-left"></i>
                </a>
                <img
                  class="img-fluid mt-5"
                  src="{% static 'images/contact-bg.png' %}"
                  alt=""
                />
              </div>
            </div>
            {% if post_prev %}
            <a href="{% url 'exampleworks:detail' post_prev.id %}">
              <div class="featured-item style-2">
                <div class="featured-item-top d-sm-flex align-items-center">
                  <div class="featured-icon flex-shrink-0">
                    <img
                      class="img-fluid"
                      src="{{post_prev.image.url}}"
                      alt=""
                    />
                  </div>
                  <div class="featured-title flex-grow-1">
                    <p>نمونه کار  قبلی</p>
                    <h6>{{post_prev.title}}</h6>
                  </div>
                </div>
                
              </div>
            </a>
          {% else %}
          <div class="featured-item style-2">
            <div class="featured-item-top d-sm-flex align-items-center">
              نمونه کار  قبلی یافت نشد 
              
            </div>
          
          </div>
            {% endif %}


        {% if post_next %}
        <a href="{% url 'exampleworks:detail' post_next.id %}">

        <div class="featured-item style-2">
          <div class="featured-item-top d-sm-flex align-items-center">
            <div class="featured-icon flex-shrink-0">
              <img
                class="img-fluid"
                src="{{post_next.image.url}}"
                alt=""
              />
            </div>
            <div class="featured-title flex-grow-1">
              <p>نمونه کار بعدی</p>
              <h6>{{post_next.title}}</h6>
            </div>
          </div>
          
        </div>
        </a>

        {% else %}
        <div class="featured-item style-2">
          <div class="featured-item-top d-sm-flex align-items-center">
            نمونه کار  بعدی  یافت نشد 
            
          </div>
        
        </div>
        {% endif %}
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<!--body content end-->

{% endblock %}
