{% extends 'base.html' %}

{% load static %}

{% block title %}

لیست نمونه کارها 
{% endblock%}


{% block content %}

<!--body content start-->

<div dir="rtl" class="page-content">

    <!--portfolio start-->
    
    <section style="padding-bottom: 20px;">
      <div class="container">
        <div class="row align-items-end">
          <div class="col-lg-6 col-md-6">
            <div class="theme-title">
              <h6 class="d-inline-block">نمونه کارها 
                
              </h6>
            {% if search %}
            <a href="{% url 'exampleworks:list'%}" class="text-danger">لغو جستجو : {{search}}</a>
              {% else %}
              <button 
              data-bs-toggle="modal"
              data-bs-target="#search_work"
              data-bs-whatever="@mdo" style="margin-right: 15px;border: 1px solid #FD5F04; padding: 1px 8px; border-radius: 8px;">جستجو</button>
            {% endif %}
              <h2>پروژه های انجام شده.</h2>
            </div>
          </div>
          <div class="col-lg-6 col-md-12">
            <div class="portfolio-filter" dir="rtl" style="background-color: #d7d7d7c2">
              <button data-filter=".cat2" style="background-color: #000229; color: white;"> طراحی سایت با وردپرس</button>
              <button data-filter=".cat3" style="background-color: #000229; color: white;"> فتوشاپ </button>
              <button data-filter=".cat4" style="background-color: #000229; color: white; ">  طراحی سایت با جنگو  </button>
              <button data-filter="" class="is-checked" style="background-color: #000229; color: white;">همه</button>
            </div>
          </div>
        </div>
      </div>
    </section>
   
    <section style="padding-top: 0px ;" class="light-bg position-relative z-index-1">
      <div class="container  " style="margin-bottom: 45px;">
        <div class="row mt-n15">
          {% if all_works %}
          <div class="col-lg-12 col-md-12 mb-4">
            <div class="grid columns-3 row popup-gallery">
              <div class="grid-sizer"></div>
            {% for item in all_works %}
              {% for cat in item.category.all %}
              {% if "فتوشاپ" in cat.name %}
              <div class="grid-item cat3">
                <div class="portfolio-item">
                  <div class="portfolio-img">
                    <img style="    width: 100%;
      height: 350px;" src="{{item.image.url}}" alt="">
                    <a class="portfolio-btn" href="{% url 'exampleworks:detail' item.id %}">
                      <i class="bi bi-arrow-down-left"></i>
                    </a>
                  </div>
                  <div class="portfolio-title">
                    {% for cat in item.category.all %}
                    <span> {{cat.name }}</span>
  
                    {% endfor%}
                    <h4><a href="{% url 'exampleworks:detail' item.id %}"> {{item.title}}  </a></h4>
                  </div>
                </div>
              </div>

              {% elif "طراحی سایت با جنگو" in cat.name %}
              <div class="grid-item cat4">
                <div class="portfolio-item">
                  <div class="portfolio-img">
                    <img style="    width: 100%;
      height: 350px;" src="{{item.image.url}}" alt="">
                    <a class="portfolio-btn" href="{% url 'exampleworks:detail' item.id %}">
                      <i class="bi bi-arrow-down-left"></i>
                    </a>
                  </div>
                  <div class="portfolio-title">
                    {% for cat in item.category.all %}
                    <span> {{cat.name }}</span>
  
                    {% endfor%}
                    <h4><a href="{% url 'exampleworks:detail' item.id %}"> {{item.title}}  </a></h4>
                  </div>
                </div>
              </div>
              {% else %}
              <div class="grid-item cat2">
                <div class="portfolio-item">
                  <div class="portfolio-img">
                    <img style="    width: 100%;
                    height: 350px;" src="{{item.image.url}}" alt="">
                                  <a class="portfolio-btn" href="{% url 'exampleworks:detail' item.id %}">
                                    <i class="bi bi-arrow-down-left"></i>
                                  </a>
                  </div>
                  <div class="portfolio-title">
                    {% for cat in item.category.all %}
                    <span> {{cat.name }}</span>
  
                    {% endfor%}
                    <h4><a href="{% url 'exampleworks:detail' item.id %}"> {{item.title}}  </a></h4>
                  </div>
                </div>
              </div>
              {% endif %}
              

              {% endfor %}
              
            {% endfor %}
             
            </div>
          </div>
        

          {% else %}
         
          <div class="col-lg-12 col-md-12 mb-4">
            <h5 class="text-center">کلمه مورد نظر شما یافت نشد 
              <a href="{% url 'exampleworks:list'%}" class="text-danger">لغو جستجو : {{search}}</a>

            </h5>

          </div>
          {% endif %}
        </div>
      </div>
      <div class="wave-shape top">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
          <path fill="#ffffff" fill-opacity="1" d="M0,224L24,197.3C48,171,96,117,144,106.7C192,96,240,128,288,160C336,192,384,224,432,208C480,192,528,128,576,122.7C624,117,672,171,720,186.7C768,203,816,181,864,154.7C912,128,960,96,1008,69.3C1056,43,1104,21,1152,21.3C1200,21,1248,43,1296,74.7C1344,107,1392,149,1416,170.7L1440,192L1440,0L1416,0C1392,0,1344,0,1296,0C1248,0,1200,0,1152,0C1104,0,1056,0,1008,0C960,0,912,0,864,0C816,0,768,0,720,0C672,0,624,0,576,0C528,0,480,0,432,0C384,0,336,0,288,0C240,0,192,0,144,0C96,0,48,0,24,0L0,0Z"></path>
        </svg>
      </div>
    </section>
    
    <!--portfolio end-->

    <div class="modal fade" id="search_work">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" id="modal-login">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel" style="font-size: 28px">
              فرم جستجو نمونه کارها 
            </h5>
            <button
              type="button"
              style="background-color: red; margin: 0 auto"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <form method="get">
             
              <div class="mb-1">
                <label for="message-text" class="col-form-label">کلمه مد نظر شما :</label>
                <input
                  type="text"
                  name="search"
                  class="form-control"
                />
              </div>
    
              
    
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-bs-dismiss="modal"
                >
                  بازگشت 
                </button>
                <button type="submit" class="btn btn-primary">جستجو</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    
    
    </div>
    
    <!--body content end--> 
{% endblock %}