{% load static %}
{% load compress %}


<!-- inject js start -->

{% compress js preload %}
<script src="{% static 'js/jquery.min.js' %}"></script> 

<!--== bootstrap -->
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

<!--== jquery-appear -->
<script src="{% static 'js/jquery-appear.js' %}"></script> 

<!--== magnific-popup --> 
<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>

<!--== isotope --> 
<script src="{% static 'js/isotope.pkgd.min.js' %}"></script>

<!--== counter -->
<script src="{% static 'js/odometer.min.js' %}"></script>

<!--== countdown -->
<script src="{% static 'js/jquery.countdown.min.js' %}"></script> 

<!--== gsap -->
<script src="{% static 'js/gsap.min.js' %}"></script>

<!--== scrolltrigger -->
<script src="{% static 'js/scrolltrigger.min.js' %}"></script>

<!--== gsap-animation -->
<script src="{% static 'js/gsap-animation.js' %}"></script>

<!--== particles -->
<script src="{% static 'js/particles.js' %}"></script>

<!--== swiper -->
<script src="{% static 'js/swiper-bundle.min.js' %}"></script> 

<!--== swiper-init -->
<script src="{% static 'js/seoland-swiper-init.js' %}"></script> 

<!--== sticksy -->
<script src="{% static 'js/sticksy.min.js' %}"></script>

<!--== color-customize -->
<script src="{% static 'js/color-customize/color-customizer.js' %}"></script> 

<!--== theme-script -->
<script src="{% static 'js/theme-script.js' %}"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<!-- inject js end -->
{% for message in messages %}
      {% if message.tags == 'success' %}
        <!-- sweetalert js -->
        <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script>
         Swal.fire({
            icon:"success",
  title: "{{message}}",
  showClass: {
    popup: `
      animate__animated
      animate__fadeInUp
      animate__faster
    `
  },
  hideClass: {
    popup: `
      animate__animated
      animate__fadeOutDown
      animate__faster
    `
  }
});
        </script>
      {% else %}
      <!-- sweetalert js -->
      <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
      <script>
        var m = "{{ message }}";
        Swal.fire({
    icon: "error",
    title: "Oops...",
    text: "{{message}}",
    footer: "<a href='{% url 'home:index' %}'>redirect to home page</a>"
  });
        
      </script>
      {% endif %}
    {% endfor %}

    {% endcompress %}

</body>
</html>