{% load static %}


<!-- inject js start -->

<!--== jquery -->
<script src="{% static 'js/jquery.min.js' %}"></script> 

<!--== bootstrap -->
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

<!--== jquery-appear -->
<script src="{% static 'js/jquery-appear.js' %}"></script> 

<!--== magnific-popup --> 
<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>

<!--== isotope --> 
<script src="{% static 'js/isotope.pkgd.min.js' %}"></script>

<!--== counter -->
<script src="{% static 'js/odometer.min.js' %}"></script>

<!--== countdown -->
<script src="{% static 'js/jquery.countdown.min.js' %}"></script> 

<!--== gsap -->
<script src="{% static 'js/gsap.min.js' %}"></script>

<!--== scrolltrigger -->
<script src="{% static 'js/scrolltrigger.min.js' %}"></script>

<!--== gsap-animation -->
<script src="{% static 'js/gsap-animation.js' %}"></script>

<!--== particles -->
<script src="{% static 'js/particles.js' %}"></script>

<!--== swiper -->
<script src="{% static 'js/swiper-bundle.min.js' %}"></script> 

<!--== swiper-init -->
<script src="{% static 'js/seoland-swiper-init.js' %}"></script> 

<!--== sticksy -->
<script src="{% static 'js/sticksy.min.js' %}"></script>

<!--== color-customize -->
<script src="{% static 'js/color-customize/color-customizer.js' %}"></script> 

<!--== theme-script -->
<script src="{% static 'js/theme-script.js' %}"></script>

<!-- inject js end -->

</body>
</html>