{% load static %}

<!--footer start-->

<footer class="footer" style="padding: 0px;padding-top: 30px;padding-bottom: 30px;">
    <div class="primary-footer">
      <div class="container">
        <div class="row">
          <div class="col-lg-5 col-md-7 ">
            <a class="navbar-brand logo footer-logo" href="index-2.html">
              <img class="img-fluid" src="{% static 'images/editlogo2.png' %}" alt="">
            </a>
            <p class="mt-4 mb-5">تیمی فعال در حوزه تکنولوژی با افراد متخصص و باتجربه در کنار شما برای ارتقای کسب  و کار شما </p>
            <div class="subscribe-form">
              <form id="mc-form" class="mc-form">
                <input type="email" value="" name="EMAIL" class="email" id="mc-email" placeholder="آدرس ایمیل خودرا وارد کنید " required="">
                <a href="{% url 'about:about' %}" class="subscribe-btn"  name="subscribe">ارسال پیام </a>
              </form>
            </div>
          </div>
          <div class="col-lg-5 col-md-5 mt-6 mt-md-0">
            <h5 style="font-family: avini;">تماس با تک تیم </h5>
            <ul class="media-icon list-unstyled">
              <li>
                <i class="flaticon-gps-1"></i>
                <h6>مراجعه حضوری</h6>
                <p class="mb-0">ایران - اصفهان  - شهر باردود - خیابان منتظری - رو به روی بستنی امینی   </p>
              </li>
              <li>
                <i class="flaticon-email"></i>
                <h6>ارسال ایمیل</h6>
                <a href="mailto:tacteam@mail.com">tacteam@mail.com</a>
              </li>
              <li>
                <i class="flaticon-mobile"></i>
                <h6>سفارس پروژه</h6>
                <a href="tel:09021632566">09021632566</a>
              </li>
            </ul>
          </div>
          <div class="col-lg-2 col-md-8 mt-6 mt-lg-0">
            <div class="row">
              <div class="col-md-6 footer-menu">
                <h5 style="font-family: avini;">تیم ما  </h5>
                <ul class="list-unstyled w-100">
                  <li>
                    <a href="{% url 'exampleworks:list' %}">نمونه کارها </a>
                  </li>
                  <li>
                    <a href="{% url 'services:list_services' %}">خدمات ما</a>
                  </li>
                  <li>
                    <a href="{% url 'services:order-register' %}">ثبت سفارش </a>
                  </li>
                  <li>
                    <a href="{% url 'courses:list_courses' %}"> دوره ها </a>
                  </li>
                  <li>
                    <a href="{% url 'about:about' %}">تماس با ما</a>
                  </li>
                </ul>
              </div>
             
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="secondary-footer">
      <div class="container">
        <div class="copyright">
          <div class="row align-items-center">
            <div class="col-md-6">تمامی حقوق محفوظ است. <u>
                <a href="{% url 'home:index' %}">تک تیم </a>
              </u> </div>
            <div class="col-md-6 text-md-end mt-3 mt-md-0">
              <ul class="list-inline ps-0 ms-0 footer-social">
                <li class="list-inline-item">
                  <a href="#">
                    <i class="flaticon-facebook-app-symbol"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="#">
                    <i class="flaticon-dribble"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="#">
                    <i class="flaticon-instagram"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="#">
                    <i class="flaticon-twitter-2"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="#">
                    <i class="flaticon-linkedin-1"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="dark-bg ht-bg-move"></div>
  </footer>
  
  <!--footer end-->
  
  
  </div>
  
  <!-- page wrapper end -->
  

  
  <!--back-to-top start-->
  
  <div class="scroll-top">
    <svg class="scroll-circle svg-content " width="100%" height="100%" viewBox="-1 -1 102 102">
      <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
    </svg>
  </div>
  
  <!--back-to-top end-->