
<!--header start-->
{% load static %}
<header id="site-header" class="header">
    <div id="header-wrap">
      <div class="container-fluid">
        <div class="row">
          <div class="col">
            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg d-flex justify-content-between " style="background-color: #000229;">
              <a class="navbar-brand logo" href="{% url 'home:index' %}">
                <img class="img-fluid" src="{% static 'images/logo.jpg' %}" alt=""> </a>

                
              <button class="navbar-toggler ht-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <svg width="100" height="100" viewBox="0 0 100 100">
                  <path class="line line1" d="M 20,29.000046 H 80.000231 C 80.000231,29.000046 94.498839,28.817352 94.532987,66.711331 94.543142,77.980673 90.966081,81.670246 85.259173,81.668997 79.552261,81.667751 75.000211,74.999942 75.000211,74.999942 L 25.000021,25.000058"></path>
                  <path class="line line2" d="M 20,50 H 80"></path>
                  <path class="line line3" d="M 20,70.999954 H 80.000231 C 80.000231,70.999954 94.498839,71.182648 94.532987,33.288669 94.543142,22.019327 90.966081,18.329754 85.259173,18.331003 79.552261,18.332249 75.000211,25.000058 75.000211,25.000058 L 25.000021,74.999942"></path>
                </svg>
              </button>
              {% if request.user.is_authenticated %}
              <a class="d-lg-none d-sm-none" href="{% url 'accounts:profile' %}"><i style="font-size: 40px;color:green;margin-right: 5px;" class="bi bi-person"></i></a>

              {% else %}
              <a class="d-lg-none d-sm-none" href="{% url 'accounts:login' %}"><i style="font-size: 40px;color:green;margin-right: 5px;" class="bi bi-box-arrow-in-right"></i></a>

              {% endif %}


              <div class="collapse navbar-collapse" id="navbarNav">
                <!-- Left nav -->
                <ul class="nav navbar-nav mx-auto">
                  <!-- Home -->
                  <li class="nav-item dropdown">
                    <a {% if request.resolver_match.url_name == 'index' %}  class="nav-link active" {% else %} class="nav-link" {% endif %} href="{% url 'home:index' %}"  >صفحه اصلی</a>
                    
                    
                  </li>
                  <li class="nav-item ">
                    <a {% if request.resolver_match.url_name == 'list' %}  class="nav-link active" {% else %} class="nav-link" {% endif %} href="{% url 'exampleworks:list' %}"  > نمونه کارها </a>
                    
                    
                  </li>
                  <li class="nav-item ">
                    <a {% if request.resolver_match.url_name == 'list_services' %}  class="nav-link active" {% else %} class="nav-link" {% endif %} href="{% url 'services:list_services' %}"  >  خدمات ما  </a>
                    
                    
                  </li>
             
                  <li class="nav-item ">
                    <a {% if request.resolver_match.url_name == 'order-register' %}  class="nav-link active" {% else %} class="nav-link" {% endif %} href="{% url 'services:order-register' %}"  >   ثبت سفارش  </a>
                    
                    
                  </li>
                  <li class="nav-item ">
                    <a {% if request.resolver_match.url_name == 'list_courses' %}  class="nav-link active" {% else %} class="nav-link" {% endif %} href="{% url 'courses:list_courses' %}"  >  دوره ها  </a>
                    
                    
                  </li>
                 
               

                  <li class="nav-item ">
                  <a {% if request.resolver_match.url_name == 'about' %}  class="nav-link active" {% else %} class="nav-link" {% endif %} href="{% url 'about:about' %}"  >    ارتباط با ما   </a>
                  
                </li>
                </ul>
              </div>
              <div class="header-right d-flex align-items-center">
                {% if request.user.is_authenticated %}
                
                <a onclick="comingsoon()" class="header-btn"><i style="font-size:35px" class="bi bi-cart-fill text-success"></i></a>
                {% else %}
                <a href="{% url 'accounts:login' %}"><i style="font-size: 40px;color:green" class="bi bi-box-arrow-in-right"></i></a>

                {% endif %}
                <a href="#" class="ht-nav-toggle">
                  <i class="bi bi-person-bounding-box"></i>                </a>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </header>
  
  <nav id="ht-main-nav">
    <a href="#" class="ht-nav-toggle">
      <i class="bi bi-x-lg"></i>
    </a>
  {% if request.user.is_authenticated %}
  <div class="d-flex justify-content-around align-items-center">
    <a class="navbar-brand logo" href="index-2.html">
      {% if request.user.image %}
      <img style="border-radius: 50%;" class="img-fluid" src="{{ request.user.image.url }}" alt=""> </a>
      {% else %}
      <img style="border-radius: 50%;" class="img-fluid" src="{% static 'images/logo.jpg'%}" alt=""> </a>
      {% endif %}
      <a class="btn-logout" href="{% url 'accounts:logout' %}"> خروج از حساب </a>
    </div>
  <div class="form-info">
    <h4 class="mb-4">اطلاعات کاربر {{ request.user.fullname }}</h4>
    <div class="contact-link">
      <ul class="contact-info list-unstyled">
        <li>
          <i class="bi bi-phone-vibrate-fill text-info"></i>
                    <span>شماره تلفن:</span>
          <a style="font-size: 20px;">{{ request.user.phone }}</a>
        </li>
        <li>
          <i class="bi bi-calendar-check-fill text-primary"></i>
                    <span> تاریخ عضویت :</span>
          <a style="font-size: 20px;" >{{ request.user.Created_at }}</a>
        </li>
        <li>
          <li>
            <i class="bi bi-check-circle-fill text-success"></i>
                        <span>وضیعت:</span>
            <a style="font-size: 20px;" >فعال </a>
          </li>
          <li>
            <i class="bi bi-envelope-at-fill text-warning"></i>
                      <span>ایـــمیل:</span>
          <a style="font-size: 20px;" >{{ request.user.email }}</a>
        </li>
        <li>
          <i class="bi bi-geo-fill text-grey"></i>
                              <span>آدرس :</span>
        <a style="font-size: 20px;" >{{ request.user.address }}</a>
      </li>
      </ul>
    </div>
    <hr/>
    <p>توضیحات کاربر :</p>
    <p class="mt-3">{{ request.user.discription }}</p>
    
  </div>
  <hr/>
  <a class="btn-edit-profile" href="{% url 'accounts:profile' %}">   ویرایش پروفایل من  </a>




  <div class="social-icons mt-5">
    <ul class="list-inline">
      <li>
        <a href="#">
          <i class="flaticon-facebook-app-symbol"></i>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="flaticon-twitter-2"></i>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="flaticon-instagram"></i>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="flaticon-linkedin-1"></i>
        </a>
      </li>
    </ul>
  </div>

  {% else %}
  <div style="background-color: red;
  padding: 10px;
  border-radius: 20px;
  color: white;
">
    برای نمایش پروفایل خود وارد حساب کاربری خود  شوید .
  </div>
<div class="d-flex justify-content-around align-items-center mt-3">

  <a class="btn-login" href="{% url 'accounts:login' %}"> ورود به حساب </a>
  <a class="btn-register" href="{% url 'accounts:register'%}"> ثبت نام </a>

</div>
  {% endif %}
   
  </nav>


  
  <!--header end-->