{% extends 'base.html' %}

{% load static %}
{% load humanize %}
{% block title %}

{{course.title}}جزئیات
{% endblock %}


{% block content %}


<!--body content start-->

<div class="page-content">

    <!--product start-->
    
    <section>
      <div class="container">
        <div class="row align-items-center" style="background-color: #d9d9d95c;padding: 12px; border-radius: 20px;">
          <div class="col-lg-5 col-md-6 ">
            <img class="img-fluid w-100 rounded" src="{{course.image.url}}" alt="" />
          </div>
          
          <div class="col-lg-7 col-md-6 mt-5 mt-md-0 ps-lg-5">
            <div class="product-details">
              <h3 style="font-size: 25px;font-family: avini;">{{course.title}}</h3>
              <div class="product-price my-2">
                <span class="product-price text-black">
                  <del> 10.000.000 میلیون</del> 8.000.000 میلیون </span>
             
              </div>
              <ul class="list-unstyled mb-4">
                <li class="mb-2">
                  <span class="text-black">موجودی :</span> موجود در انبار
                </li>
                <li>
                  <span class="text-black">دسته بندی :</span> کالای دیجیتال
                </li>
              </ul>
              <p>این متن جهت نمایش پاراگراف است!این متن جهت نمایش پاراگراف است .این متن جهت نمایش پاراگراف است .این متن جهت نمایش پاراگراف است   </p>
             
              <div class="d-flex align-items-center">
                <h6 class="mb-0 me-3">تعداد:</h6>
                <div class="d-flex align-items-center">
                  <button  class="btn-product btn-product-up">
                    <i class="bi bi-dash"></i>
                  </button>
                  <input class="form-product" type="number" name="form-product" value="1">
                  <button  class="btn-product btn-product-down">
                    <i class="bi bi-plus"></i>
                  </button>
                </div>
              </div>
              <div class="product-link d-flex align-items-center mt-5">
                <button onclick="comming_course()" class="themeht-btn primary-btn me-3" type="button"><span>افزودن به سبد خرید</span><i class="bi bi-cart"></i></button>
                <button onclick="comming_course()" class="themeht-btn dark-btn" type="button"><span>بعدا میخرم</span><i class="bi bi-heart"></i></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    <!--product end-->
    
    
    <!--tab start-->
    
    <section class="pt-3">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="tab">
              <!-- Nav tabs -->
              <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                  <a class="nav-item nav-link active ms-0" id="nav-tab1" data-bs-toggle="tab" href="#tab3-1" role="tab" aria-selected="true">توضیحات</a>
                  <a class="nav-item nav-link" id="nav-tab2" data-bs-toggle="tab" href="#tab3-2" role="tab" aria-selected="false">اطلاعات تکمیلی</a>
                  <a class="nav-item nav-link" id="nav-tab3" data-bs-toggle="tab" href="#tab3-3" role="tab" aria-selected="false">بازخوردها</a>
                </div>
              </nav>
              <!-- Tab panes -->
              <div class="tab-content p-0 pt-5">
                <div role="tabpanel" class="tab-pane fade show active" id="tab3-1">
                  <h5 class="mb-3">توضیحات محصول</h5>
                  <p class="mb-0">این یک متن تست جهت نمایش درست پاراگراف و یا یک ساختار دیگر است .این یک متن تست جهت نمایش درست پاراگراف و یا یک ساختار دیگر است .</p>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="tab3-2">
                  <h5 class="mb-3">اطلاعات تکمیلی</h5>
                  <table class="table table-bordered mb-0">
                    <tbody>
                      <tr>
                        <td>ابعاد - انداره</td>
                        <td>S, M, L & XL, L</td>
                      </tr>
                      <tr>
                        <td>رنگ</td>
                        <td>مشکی,سبز,آبی</td>
                      </tr>
                      <tr>
                        <td>ابعاد </td>
                        <td>25 اینچ</td>
                      </tr>
                      <tr>
                        <td> عرض</td>
                        <td>20 سانتی متر</td>
                      </tr>
                      <tr>
                        <td>عرض</td>
                        <td>35 cm</td>
                      </tr>
                      <tr>
                        <td>تکنولوژی وا فای</td>
                        <td>تکنولوژی وا فای آخرین ورژن</td>
                      </tr>
                      <tr>
                        <td>گارانتی محصول</td>
                        <td>شش ماه</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="tab3-3">
                  <div class="row total-rating align-items-center">
                    <div class="col-md-6">
                      <div class="dark-bg rounded text-center p-5">
                        <h5 class="text-white">همه  چهار</h5>
                        <h4 class="text-white">4.0</h4>
                        <h6 class="text-white">رای</h6>
                      </div>
                    </div>
                    <div class="col-md-6 mt-3 mt-lg-0">
                      <div class="rating-list">
                        <div class="d-flex align-items-center mb-2">
                          <div class="text-nowrap me-3">5 ستاره</div>
                          <div class="w-100">
                            <div class="progress" style="height: 5px;">
                              <div class="progress-bar bg-success" role="progressbar" style="width: 90%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                          </div>
                          <span class="text-grey ms-3">90%</span>
                        </div>
                        <div class="d-flex align-items-center mb-2">
                          <div class="text-nowrap me-3">4 ستاره</div>
                          <div class="w-100">
                            <div class="progress" style="height: 5px;">
                              <div class="progress-bar bg-success" role="progressbar" style="width: 60%;" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                          </div>
                          <span class="text-grey ms-3">60%</span>
                        </div>
                        <div class="d-flex align-items-center mb-2">
                          <div class="text-nowrap me-3">3 ستاره</div>
                          <div class="w-100">
                            <div class="progress" style="height: 5px;">
                              <div class="progress-bar bg-success" role="progressbar" style="width: 40%;" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                          </div>
                          <span class="text-grey ms-3">40%</span>
                        </div>
                        <div class="d-flex align-items-center mb-2">
                          <div class="text-nowrap me-3">2 ستاره</div>
                          <div class="w-100">
                            <div class="progress" style="height: 5px;">
                              <div class="progress-bar bg-warning" role="progressbar" style="width: 20%;" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                          </div>
                          <span class="text-grey ms-3">20%</span>
                        </div>
                        <div class="d-flex align-items-center mb-2">
                          <div class="text-nowrap me-3"1 ستاره</div>
                          <div class="w-100">
                            <div class="progress" style="height: 5px;">
                              <div class="progress-bar bg-danger" role="progressbar" style="width: 10%;" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                          </div>
                          <span class="text-grey ms-3"10%</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row mt-5">
                    <div class="col-md-7">
                      <div class="review-list border border-light p-5 rounded">
                        <div class="row border-bottom border-light pb-5 mb-5">
                          <div class="mb-4 mb-md-0 col-md-auto">
                            <img class="img-fluid rounded" alt="image" src="{% static 'images/thumbnail/01.jpg' %}">
                          </div>
                          <div class="col-md">
                            <h6 class="mb-2">ساینا پاوول</h6>
                            <p>نظرات خریدار محصول در این مکان درج می گردد.</p>
                            <span class="text-theme">
                              <i class="bi bi-star-fill"></i>
                              <i class="bi bi-star-fill"></i>
                              <i class="bi bi-star-fill"></i>
                              <i class="bi bi-star-fill"></i>
                              <i class="bi bi-star-fill"></i>
                            </span>
                          </div>
                        </div>
                        <div class="row border-bottom border-light pb-5 mb-5">
                          <div class="mb-4 mb-md-0 col-md-auto">
                            <img class="img-fluid rounded" alt="image" src="{% static 'images/thumbnail/02.jpg' %}">
                          </div>
                          <div class="col-md">
                            <h6 class="mb-2">نیکول لانا</h6>
                            <p>نظرات خریدار محصول در این مکان درج می گردد.</p>
                            <span class="text-theme">
                              <i class="bi bi-star-fill"></i>
                              <i class="bi bi-star-fill"></i>
                              <i class="bi bi-star-fill"></i>
                              <i class="bi bi-star-fill"></i>
                              <i class="bi bi-star-fill"></i>
                            </span>
                          </div>
                        </div>
                        <div class="row">
                          <div class="mb-4 mb-md-0 col-md-auto">
                            <img class="img-fluid rounded" alt="image" src="{% static 'images/thumbnail/03.jpg' %}">
                          </div>
                          <div class="col-md">
                            <h6 class="mb-2">آبلا لاست</h6>
                            <p>نظرات خریدار محصول در این مکان درج می گردد.</p>
                            <span class="text-theme">
                              <i class="bi bi-star-fill"></i>
                              <i class="bi bi-star-fill"></i>
                              <i class="bi bi-star-fill"></i>
                              <i class="bi bi-star-fill"></i>
                              <i class="bi bi-star-fill"></i>
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-5">
                      <div class="post-comments white-bg box-shadow rounded p-4">
                        <h4 class="mb-4">اضافه کردن امتیاز</h4>
                        <form id="contact-form" method="post" action="سئولندtemplate/seoland/rtl/contact.php">
                          <div class="messages"></div>
                          <div class="form-group">
                            <input id="form_name" type="text" name="Name" class="form-control" placeholder="نام شما" required="required" data-error="اسمتان رت بنویسید.">
                            <div class="help-block with-errors"></div>
                          </div>
                          <div class="form-group">
                            <input id="form_email" type="email" name="email" class="form-control" placeholder="آدرس ایمیل خودرا وارد کنید " required="required" data-error="Valid email is required.">
                            <div class="help-block with-errors"></div>
                          </div>
                          <div class="form-group clearfix">
                            <select class="form-control form-select">
                              <option value="">امتیاز مورد نظر شما</option>
                              <option value="1"1</option>
                              <option value="2">2</option>
                              <option value="3">3</option>
                              <option value="4">4</option>
                              <option value="5">5</option>
                            </select>
                          </div>
                          <div class="form-group">
                            <input id="form_number" type="text" name="Name" class="form-control" placeholder="شماره تلفن" required="required">
                          </div>
                          <div class="form-group">
                            <textarea id="form_message" name="message" class="form-control" placeholder="نوشتن نظر" rows="4" required="required" data-error="پیغامی بگذارید."></textarea>
                            <div class="help-block with-errors"></div>
                          </div>
                          <button class="themeht-btn primary-btn mt-3"><span>انتشار</span><i class="bi bi-arrow-left"></i></button>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    <!--tab end-->
    
    </div>
    
    <!--body content end--> 
    

    <script>


      function comming_course(){
        Swal.fire("هنوز دوره آموزشی ضبط نشده !");
      }
    </script>
    
{% endblock %}