{% extends 'base.html' %}

{% load static %}
{% load humanize %}
{% block title %}
لیست دوره ها 
{% endblock %}

{% block content %}


<!--body content start-->

<div class="page-content">

    <!--product start-->
    
    <section>
      <div class="container">
        <div class="row mb-5">
          <div class="col">
            <div class="border border-light rounded p-3">
              <div class="row align-items-center">
                <div class="col-md-5 mb-3 mb-md-0"> <span>
                  نمایش همه 
                  /
                  {% if search %}
                  <a href="{% url 'courses:list_courses'%}" class="text-danger">لغو جستجو : {{search}}</a>
                    {% else %}
                    <button 
                    data-bs-toggle="modal"
                    data-bs-target="#search_course"
                    data-bs-whatever="@mdo" style="margin-right: 5px;border: 1px solid #FD5F04; padding: 1px 8px; border-radius: 8px;">جستجو</button>
                  {% endif %}

                  {% if cat_name %}

                  با فیلتر دسته بندی {{cat_name}}


                  {% elif username %}
                  با فیلتر استاد  {{username}}


                  {% endif %}

                  
                  
                  
                 </span>
                </div>
                <div class="col-md-7 d-flex align-items-center justify-content-md-end">
                  <div class="view-filter"> <a id="btn-grid-product" class="align-middle me-2" style="color: black;" onclick="grid_product()"><i class="fs-3 bi bi-grid-3x2"></i></a>
                    <a class="active text-theme" id="btn-list-product" onclick="list_product()"  ><i class="fs-3 bi bi-card-list"></i></a>
                  </div>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
        {% if courses %}
          <div id="product-list" class="col-lg-9 col-md-12 order-lg-1">
          {% for item in courses %}

          <div class="product-item mb-5" style="background-color: #FF7211; padding: 10px;border-radius: 20px; height: max-content;">
            <div class="row align-items-center">
              <div class="col-lg-4 col-md-5">
                <div class="product-img">
                  <img class="img-fluid" src="{{item.image.url}}" alt="">
                </div>
              </div>
              <div class="col-lg-8 col-md-7">
                <div class="product-desc">
                  <a href="{% url 'courses:detail_courses' item.id %}"  style="font-size: 27px;color: black;">{{item.title}}</a>
                  <span class="product-price text-success" style="font-size: 18px;">
                    <del class="text-danger" style="margin-left: 10px;" >  {{item.price|intcomma:0}}تومان  </del> {% if item.free == True %}رایگان  {% else %} {{item.price_percented|intcomma:0}}تومان  {% endif %} </span>
                    {% for cat in item.category.all %}
                    <p><i class="bi bi-tag text-white"></i>دسته بندی :{{cat.name}} </p>
                    {% endfor %}
                    <p><i class="bi bi-person text-white"></i>استاد   :{{item.teacher}} </p>

                    <p class="my-3 text-white" style="font-size: 18px;"> {{item.discription|truncatechars:150 }}
                    </p>
                  <div class="product-link mt-3">
                    <a class="add-cart" href="{% url 'courses:detail_courses' item.id %}">
                      نمایش جزئیات و خرید <i class="bi bi-arrow-up-left me-2"></i> </a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          {% endfor %}
           
            <nav aria-label="Page navigation" class="mt-8 text-center">
              <ul class="pagination">
                {% if courses.has_previous %}

                <li class="page-item">
                  <a class="page-link" href="?page={{ courses.previous_page_number }}">
                    <i class="bi bi-arrow-right"></i>
                  </a>
                </li>
                {% endif %}
                {% for i in courses.paginator.page_range %}
                {% if courses.number == i %}

                <li class="page-item active">
                  <a class="page-link" href="?page={{i}}">{{i}}</a>
                </li>

                {% else %}

                <li class="page-item ">
                  <a class="page-link" href="?page={{i}}">{{i}}</a>
                </li>

                {% endif %}

                {% endfor %}
              
                {% if courses.has_next %}

                <li class="page-item">
                  <a class="page-link" href="?page={{ courses.next_page_number }}">
                    <i class="bi bi-arrow-left"></i>
                  </a>
                </li>

                {% endif %}
              </ul>
            </nav>
          </div>

          <!-- تست -->

          <div style="display: none;" id="product-grid" class="col-lg-9 col-md-12 order-lg-1 ">
            <div class="row text-center">
             {% for item in courses %}
             <div class="col-lg-4 col-md-6">
              <div style="background-color: #FF7211;padding: 10px; border-radius: 20px;" class="product-item">
                <div class="product-img">
                  <img class="img-fluid" src="{{item.image.url}}" alt="">
                </div>
                <div class="product-desc">
                  <a href="{% url 'courses:detail_courses' item.id %}" class="product-name">{{item.title}}</a>
                  <span class="product-price text-success">
                    <del class="text-danger" style="margin-left: 10px;">  {{item.price|intcomma:0}}تومان  </del> {% if item.free == True %}رایگان  {% else %} {{item.price_percented|intcomma:0}}تومان  {% endif %} </span>
                    <p><i class="bi bi-person text-white"></i>استاد   :{{item.teacher}} </p>

                    {% for cat in item.category.all %}
                    <p><i class="bi bi-tag text-white"></i>دسته بندی :{{cat.name}} </p>
                    {% endfor %}
                    <p class="my-3 text-white"> {{item.discription|truncatechars:50 }}
                    </p>
                    
                  <div class="product-link mt-3">
                    <a class="add-cart" href="{% url 'courses:detail_courses' item.id %}">
                      نمایش جزئیات و خرید <i class="bi bi-arrow-up-left me-2"></i> </a>
                  </div>
                </div>
              </div>
            </div>

             {% endfor %}
             
              <nav aria-label="Page navigation" class="mt-8 text-center">
                <ul class="pagination">
                  <li class="page-item">
                    <a class="page-link" href="#">
                      <i class="bi bi-arrow-left"></i>
                    </a>
                  </li>
                  <li class="page-item active">
                    <a class="page-link" href="#">1</a>
                  </li>
                  <li class="page-item">
                    <a class="page-link" href="#">2</a>
                  </li>
                  <li class="page-item">
                    <a class="page-link" href="#">3</a>
                  </li>
                  <li class="page-item">
                    <a class="page-link" href="#">
                      <i class="bi bi-arrow-left"></i>
                    </a>
                  </li>
                </ul>
              </nav>
            </div>
            
          </div>

          {% else %}
          <div id="product-list" class="col-lg-9 col-md-12 order-lg-1">
<h5 class="text-center">
  دوره مورد نظر شما یافت نشد 
  <a href="{% url 'courses:list_courses'%}" class="text-danger">لغو جستجو : {{search}}</a>


</h5>
                    </div>

          {% endif %}








          <div class="col-lg-3 col-md-12 mt-8 mt-lg-0">
            <div class="themeht-sidebar" >
              <div class="widget widget-categories" style="background-color: #d9d9d95c;" >
                <h4 class="widget-title" style="font-family: avini ;">دسته بندی </h4>
                <ul class="widget-categories list-unstyled">
                <li > <a style="font-family: snas;" href="{% url 'courses:list_courses' %}"><i class="bi bi-chevron-right me-1"></i> همه</a>
                </li>
              {% for category in categorys %}


              <li > <a style="font-family: snas;" href="{% url 'courses:category_courses' category.name %}"><i class="bi bi-chevron-right me-1"></i>{{category.name}}</a>
              </li>
            
              {% endfor %}
              </ul>
              </div>

              <div class="themeht-sidebar" >
                <div class="widget widget-categories" style="background-color: #d9d9d95c;" >
                  <h4 class="widget-title" style="font-family: avini ;">استاد   </h4>
                  <ul class="widget-categories list-unstyled">
                  <li > <a style="font-family: snas;" href="{% url 'courses:list_courses'  %}"><i class="bi bi-chevron-right me-1"></i> همه </a>
                  </li>
  
  
                <li > <a style="font-family: snas;" href="{% url 'courses:author_courses' username='محمد شکاری' %}"><i class="bi bi-chevron-right me-1"></i>محمد شکاری </a>
                </li>
                <li > <a style="font-family: snas;" href="{% url 'courses:author_courses'  username='جواد خشنود' %}"><i class="bi bi-chevron-right me-1"></i>جواد خشنود   </a>
                </li>
                <li > <a style="font-family: snas;" href="{% url 'courses:author_courses'  username='حسین عسگریان'  %}"><i class="bi bi-chevron-right me-1"></i>حسین عسگریان  </a>
                </li>
                </ul>
                </div>
             
            
            </div>
          </div>
        </div>
      </div>
    </section>
    
    <!--product end-->
    <div class="modal fade" id="search_course">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" id="modal-login">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel" style="font-size: 28px">
              فرم جستجو دوره ها  
            </h5>
            <button
              type="button"
              style="background-color: red; margin: 0 auto"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <form method="get">
             
              <div class="mb-1">
                <label for="message-text" class="col-form-label">کلمه مد نظر شما :</label>
                <input
                  type="text"
                  name="search"
                  class="form-control"
                />
              </div>
    
              
    
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-bs-dismiss="modal"
                >
                  بازگشت 
                </button>
                <button type="submit" class="btn btn-primary">جستجو</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    
    </div>
    
    <!--body content end--> 
    

<script>
  
function grid_product() {
    document.getElementById("product-list").style.display = "none"
    document.getElementById("product-grid").style.display = "grid"
    document.getElementById("btn-grid-product").style.color = "#FF6F0F"
    document.getElementById("btn-list-product").style.color = "black"

}

function list_product() {
    document.getElementById("product-list").style.display = "block"
    document.getElementById("product-grid").style.display = "none"
    document.getElementById("btn-grid-product").style.color = "black"
    document.getElementById("btn-list-product").style.color = "#FF6F0F"

}
</script>

{% endblock %}