{% extends 'base.html' %}

{% load static  %}
{% block title %}
درباره ما 
{% endblock %}



{% block content %}
<div class="page-content">
   
      
      
      <!--about start-->
      
      <section style="padding: 120px 0px 0px 0px;">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
              <div class="shape-img-bg">
                <img class="mask-img" src="{% static 'images/about/01.jpg' %}" alt="">
                <div class="img-bg-shape">
                            <svg  xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 288 288">
                    <linearGradient id="imagewave2" x1="70.711%" x2="0%" y1="70.711%" y2="0%">
                      <stop class="stop-color2" offset="0%" stop-opacity="1" />
                      <stop class="stop-color1" offset="100%" stop-opacity="1" />
                    </linearGradient>
                    <path fill="url(#imagewave2)">
      
                      <animate  repeatCount="indefinite" attributeName="d" dur="5s"
                      
                      values="M37.5,186c-12.1-10.5-11.8-32.3-7.2-46.7c4.8-15,13.1-17.8,30.1-36.7C91,68.8,83.5,56.7,103.4,45
                      c22.2-13.1,51.1-9.5,69.6-1.6c18.1,7.8,15.7,15.3,43.3,33.2c28.8,18.8,37.2,14.3,46.7,27.9c15.6,22.3,6.4,53.3,4.4,60.2
                      c-3.3,11.2-7.1,23.9-18.5,32c-16.3,11.5-29.5,0.7-48.6,11c-16.2,8.7-12.6,19.7-28.2,33.2c-22.7,19.7-63.8,25.7-79.9,9.7
                      c-15.2-15.1,0.3-41.7-16.6-54.9C63,186,49.7,196.7,37.5,186z;
                      
                      
                      M51,171.3c-6.1-17.7-15.3-17.2-20.7-32c-8-21.9,0.7-54.6,20.7-67.1c19.5-12.3,32.8,5.5,67.7-3.4C145.2,62,145,49.9,173,43.4
                      c12-2.8,41.4-9.6,60.2,6.6c19,16.4,16.7,47.5,16,57.7c-1.7,22.8-10.3,25.5-9.4,46.4c1,22.5,11.2,25.8,9.1,42.6
                      c-2.2,17.6-16.3,37.5-33.5,40.8c-22,4.1-29.4-22.4-54.9-22.6c-31-0.2-40.8,39-68.3,35.7c-17.3-2-32.2-19.8-37.3-34.8
                      C48.9,198.6,57.8,191,51,171.3z;
                      
                      M37.5,186c-12.1-10.5-11.8-32.3-7.2-46.7c4.8-15,13.1-17.8,30.1-36.7C91,68.8,83.5,56.7,103.4,45
                      c22.2-13.1,51.1-9.5,69.6-1.6c18.1,7.8,15.7,15.3,43.3,33.2c28.8,18.8,37.2,14.3,46.7,27.9c15.6,22.3,6.4,53.3,4.4,60.2
                      c-3.3,11.2-7.1,23.9-18.5,32c-16.3,11.5-29.5,0.7-48.6,11c-16.2,8.7-12.6,19.7-28.2,33.2c-22.7,19.7-63.8,25.7-79.9,9.7
                      c-15.2-15.1,0.3-41.7-16.6-54.9C63,186,49.7,196.7,37.5,186z  "/>
      
                      </path>
      
                    </svg>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-12 mt-6 mt-lg-0 ps-lg-10">
              <div class="theme-title mb-4">
                <h6 >درباره ما</h6>
                <h2 style="font-family: avini;">همه چیز از اینجا شروع می شود ! </h2>
                <p>همه چیز از یک ایده همکلاسی قدیمی در دانشگاه شروع شد ؛ که به فکر یادگیری طراحی سایت و فتوشاپ و ارائه خدمات رایگان و پولی به مردم با کمترین قیمت بود.</p>
              </div>
              <div class="row">
               
             
                <div class="col-sm-6 mb-3 mb-sm-0">
                  <ul class="list-unstyled list-icon style-1">
                    <li>
                      <i class="flaticon flaticon-check-mark"></i> پشتیبانی عالی.
                    </li>
                  </ul>
                </div>
                <div class="col-sm-6">
                  <ul class="list-unstyled list-icon style-1">
                    <li>
                      <i class="flaticon flaticon-check-mark"></i>توسعه کسب کار های شخصی 
                  </ul>
                </div>
                <div class="col-sm-6 mb-3">
                    <ul class="list-unstyled list-icon style-1">
                      <li>
                        <i class="flaticon flaticon-check-mark"></i> تخفیف ویژه به مشتریان واقعی!
                      </li>
                    </ul>
                  </div>
                <div class="col-sm-6 mb-3">
                    <ul class="list-unstyled list-icon style-1">
                      <li>
                        <i class="flaticon flaticon-check-mark"></i> سود کمتر و فروش بیشتر !
                      </li>
                    </ul>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      
      <section class="pb-0" style="padding: 0px ;">
        <div class="container">
          <div class="row justify-content-center text-center">
            <div class="col-lg-8 col-md-12">
              <div class="theme-title">
                <h6 >فرایند کار</h6>
                <h2 style="font-family: avini;">حمایت و یاری از ما موفق شدن  از شما </h2>
              </div>
            </div>
          </div>
          <div class="row gx-lg-5">
            <div class="col-lg-3 col-md-6">
              <div class="step-item style-2" >
                <div class="step-icon">
                  <i class="flaticon flaticon-search-analysis "></i>
                  <div class="step-number">1</div>
                  <div class="step-icon-bg" data-bg-img="{% static 'images/step-icon-bg1.png' %}"></div>
                </div>
                <h4 style="font-family: avini;">پژوهش</h4>
                <p class="mb-0">با جمع آوری اطلاعات و با تجوه به نیاز شما سعی بر این داریم چیزی که شما میخواهید را به بهترین نحو انجام دهیم .</p>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 mt-6 mt-md-0">
              <div class="step-item style-2 step-bg " style="background-color: #E65708;border-radius: 20px;padding: 10px;">
                <div class="step-icon">
                  <i class="flaticon flaticon-market-analysis"></i>
                  <div class="step-number">2</div>
                  <div class="step-icon-bg" data-bg-img="{% static 'images/step-icon-bg1.png' %}"></div>
                </div>
                <h4 style="font-family: avini;">شخصی سازی</h4>
                <p class="mb-0 text-white">با توجه به نیاز شما پروژه مختص شما را به بهترین نحو انجام خواهیم داد .</p>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 mt-6 mt-lg-0">
              <div class="step-item style-2">
                <div class="step-icon">
                  <i class="flaticon flaticon-target"></i>
                  <div class="step-number">3</div>
                  <div class="step-icon-bg" data-bg-img="{% static 'images/step-icon-bg1.png' %}"></div>
                </div>
                <h4 style="font-family: avini;">همکاری با گروه دیگر</h4>
                <p class="mb-0">اگر در خلال پروژه نیاز به تیم یا گروه دیگری داشتیم با همکاری با آنها پروژه رو تکمیل خواهیم کرد .</p>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 mt-6 mt-lg-0">
              <div class="step-item style-2 step-bg" style="background-color: #E65708;border-radius: 20px;padding: 10px;">
                <div class="step-icon">
                  <i class="flaticon flaticon-results"></i>
                  <div class="step-number">4</div>
                  <div class="step-icon-bg" data-bg-img="{% static 'images/step-icon-bg1.png' %}"></div>
                </div>
                <h4 style="font-family: avini;">نتیجه گیری</h4>
                <p class="mb-0 text-white">افزایش محبوبیت سایت شما در گوگل به طوری که همیشه در صدر باشید . </p>
              </div>
            </div>
          </div>
        </div>
      </section>
      


      <!--body content start-->

<div class="page-content">

    <!--team start-->
    
    <section style="padding: 0px;padding-top: 30px;">
      <div class="container">
        <div class="row justify-content-center text-center">
          <div class="col-lg-8 col-md-12">
            <div class="theme-title">
              <h6>مهارت اعضا</h6>
              <h2 style="font-family: avini;">معرفی اعضای تیم تک </h2>
            </div>
          </div>
        </div>
        <div class="row">
          {% for item in team_members %}
          <div class="col-lg-3 col-md-6">
            <div class="team-member">
                    <div class="team-{% static 'images/">
                      <img class="img-fluid rounded" src="{{item.image.url}}" alt="">
                    </div>
                    <div class="team-desc">
                      <h4>
                        <a href="team-single.html">  {{item.name}} </a>
                      </h4>
                      <span> {{item.status}} </span>
                      <div class="social-icons team-social-icon">
                        <ul class="list-inline">
                          <li>
                            <a  onclick="comingsoon()">
                              <i class="flaticon-facebook-app-symbol"></i>
                            </a>
                          </li>
                          <li>
                            <a onclick="comingsoon()">
                              <i class="flaticon-twitter-2"></i>
                            </a>
                          </li>
                          <li>
                            <a onclick="comingsoon()">
                              <i class="flaticon-instagram"></i>
                            </a>
                          </li>
                          <li>
                            <a onclick="comingsoon()">
                              <i class="flaticon-linkedin-1"></i>
                            </a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
          </div>

          {% endfor %}
         
        </div>
      
      </div>
    </section>
    
    <!--team end-->
    
    </div>
    
    <!--body content end--> 
    
    
      <!--step end-->    
    <section class="contact-info mt-6" style="padding: 0px;">
      <div class="row justify-content-center text-center">
        <div class="col-lg-8 col-md-12">
          <div class="theme-title">
            <h6> دفاتر  کار ما </h6>
            <h2 style="font-family: avini;">آدرس دقیق محل کار ما  </h2>
          </div>
        </div>
      </div>
      <div class="container">
        
        <div class="row align-items-center">
          <div class="col-lg-6 col-md-12" >
            <div class="contact-box" style="background-color: #E65708;">
              <h4>دفتر بادرود             <i class="bi bi-check-circle-fill text-success"></i>
              </h4>
              <ul class="contact-info list-unstyled">
                <li>
                  <i class="flaticon flaticon-gps-1 text-white"></i>
                  <span class="text-white">از محل کار ما دیدن کنید.</span>
                  <p>ایران - اصفهان  - شهر بادرود -  خیابان منتظری  - جنب بستنی امینی</p>
                </li>
                <li>
                  <i class="flaticon flaticon-email text-white"></i>
                  <span class="text-white">ارسال ایمیل</span>
                  <a href="mailto:Info@.com">javadkhoshnood194@gmail.com</a>
                </li>
                <li>
                  <i class="flaticon flaticon-mobile text-white"></i>
                  <span class="text-white">شماره تماس  </span>
                  <a href="tel:456-1231-0913">03154348567</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 mt-5 mt-lg-0">
            <div class="contact-box">
              <h4>دفتر نطنز<i class="bi bi-x-circle text-danger"></i></h4>
              <ul class="contact-info list-unstyled">
                <li>
                  <i class="flaticon flaticon-gps-1"></i>
                  <span>از محل کار ما دیدن کنید.</span>
                  <p>ایران - اصفهان  - شهرستان نطنز - خیابان طالقانی - جنب بانک کشاورزی </p>
                </li>
                <li>
                  <i class="flaticon flaticon-email"></i>
                  <span>ارسال ایمیل</span>
                  <a href="mailto:Info@.com">javadkhoshnood194@gmail.com</a>
                </li>
                <li>
                  <i class="flaticon flaticon-mobile"></i>
                  <span class="text-white">شماره تماس  </span>
                  <a href="tel:456-1231-0913">03154348567</a>
                </li>
              </ul>
            </div>
          </div>
         
        </div>
      </div>
    </section>
    

    <!--contact start-->
    
    <section>
        <div class="container">
          <div class="row align-items-center">
            <div class="col-lg-6 col-md-12 mb-6 mb-lg-0 order-lg-1" style="background-color: rgb(234, 234, 234);border-radius: 20px;" >
              <div class="theme-title">
                <h6>درتماس باشید.</h6>
                <h2>پیغام خود را بگذارید.!</h2>
              </div>
              <form
              method="post"
            >
            {% csrf_token %}
              <div class="messages"></div>
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label>عنوان تیکت </label>
                    <input
                      id="form_name"
                      type="text"
                      name="title"
                      class="form-control"
                      placeholder=" عنوان تیکت "
                      required="required"
                      data-error="عنوان  را واررد کنید."
                    />
                    <div class="help-block with-errors"></div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label>ایمیل/ غیر قالب تغییر  </label>
                    <input
                    id="form_name"
                    type="email"
                    name="email"
                    class="form-control"
                    placeholder=" ایمیل  "
                    disabled
                    value="{{request.user.email}}"
                    data-error="ایمیل  را واررد کنید."
                  />

                    <div class="help-block with-errors"></div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label>شماره تماس/غیر قابل تغییر</label>
  
                    <input
                      id="form_phone"
                      type="tel"
                      name="phone"
                      class="form-control"
                      value="{{request.user.phone}}"
                      data-error="Phone is required"
                      disabled
                    />
                    <div class="help-block with-errors"></div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label>توضیحات بیشتر</label>
  
                <textarea
                  id="form_message"
                  name="discription"
                  class="form-control"
                  placeholder="نوشتن توضیحات بیشتر"
                  rows="4"
                  required="required"
                  data-error="Please,leave us a message."
                ></textarea>
                <div class="help-block with-errors"></div>
              </div>
            {% if request.user.is_authenticated %}
            <button type="submit" class="themeht-btn primary-btn mt-4">
              <span>ارسال تیکت </span>
              <i class="bi bi-arrow-left"></i>
            </button>
            {% else %}
            <a href="{% url 'accounts:login' %}" class="themeht-btn primary-btn mt-4">
              <span> برای ارسال تیکت وارد حساب خود شوید  </span>
              <i class="bi bi-arrow-left"></i>
            </a>

            {% endif %}
            </form>
            </div>
            <div class="col-lg-6 col-md-12 pe-lg-10">
              <div class="map iframe-h-2">
                <iframe
                src="https://neshan.org/maps/#c33.695-52.008-17z-0p"
                allowfullscreen=""
              ></iframe>              </div>
            </div>
          </div>
        </div>
      </section>    
    </div>
    
    <!--body content end--> 
    
    
{% endblock %}