{% extends 'base.html' %} {% load static %} {% block title %} جزئیات
{{service.title}} {% endblock %} {% block content %}
<!--body content start-->

<div class="page-content">

    <!--portfolio start-->
    
    <section>
      <div class="container">
    
        <div class="row mt-3">
          <div class="col-lg-8 col-md-12">
            <h3 class="mb-3">چالش و راه حل</h3>
            <p class="ht-first-letter">بازاریابی نسبت به سایر روش های بازاریابی آنلاین هزینه کمتری دارد. همچنین در مقایسه با سایر تکنیک ها مانند بازاریابی رسانه های اجتماعی، تبلیغات پرداخت به ازای کلیک، نرخ پاداش بالاتری را ارائه می دهد..</p>
            <p class="mb-5">برنامه‌های بازاریابی کسب‌وکار ما به تقسیم عملکرد کسب‌وکار شما به مشتریان و گروه‌های محصول کمک می‌کند تا دقیقاً بدانید که چه مشتریان یا گروه‌های محصولی کار می‌کنند و کدام یک نیستند، می‌توانید تغییرات لازم را برای به دست آوردن بهترین نتایج از کسب‌وکار خود اعمال کنید..</p>
            <h3 class="mb-3">ارزش های سئولند</h3>
            <p>برخی از ابزارهای مرتبط با سئو مانند Google Keyword Planner و Google Analytics داده های کمی را برای کمک به شما در درک بازار، تجزیه و تحلیل روندها و شناخت جایگاه رقبا ارائه می دهند. این به شما کمک می کند کلمات کلیدی محبوب و ارزشمند را شناسایی کنید تا بتوانید تصمیم بگیرید که چگونه محتوای خود را ساختار یا اصلاح کنید.</p>
            <div class="row mt-4">
              <div class="col-md-6">
                <ul class="list-unstyled list-icon style-2">
                  <li>
                    <i class="flaticon flaticon-check-mark"></i>رابط کاربر پسند
                  </li>
                  <li>
                    <i class="flaticon flaticon-check-mark"></i>کنترل دسترسی مبتنی بر نقش
                  </li>
                  <li>
                    <i class="flaticon flaticon-check-mark"></i>دسترسی API برای یکپارچه سازی یکپارچه
                  </li>
                </ul>
              </div>
              <div class="col-md-6 mt-3 mt-md-0">
                <ul class="list-unstyled list-icon style-2">
                  <li>
                    <i class="flaticon flaticon-check-mark"></i> گزارش و تجزیه و تحلیل پیشرفته
                  </li>
                  <li>
                    <i class="flaticon flaticon-check-mark"></i> گزینه های نام تجاری قابل تنظیم
                  </li>
                  <li>
                    <i class="flaticon flaticon-check-mark"></i> سفر خود را به سوی موفقیت آغاز کنید
                  </li>
                </ul>
              </div>
            </div>
            <div class="row align-items-center my-5">
              <div class="col-md-6">
                <img class="img-fluid rounded" src="images/portfolio/02.jpg" alt="">
              </div>
              <div class="col-md-6 mt-5 mt-md-0">
                <img class="img-fluid rounded" src="images/portfolio/03.jpg" alt="">
              </div>
            </div>
            <h3 class="mb-3">بهترین نتایج</h3>
            <p>برخی از ابزارهای مرتبط با سئو مانند Google Keyword Planner و Google Analytics داده های کمی را برای کمک به شما در درک بازار، تجزیه و تحلیل روندها و شناخت جایگاه رقبا ارائه می دهند. این به شما کمک می کند کلمات کلیدی محبوب و ارزشمند را شناسایی کنید تا بتوانید تصمیم بگیرید که چگونه محتوای خود را ساختار یا اصلاح کنید.</p>
            <div class="accordion" id="accordion">
              <div class="accordion-item">
                <h3 class="accordion-header" id="heading1">
                  <button class="accordion-button shadow-none mb-0 bg-transparent" type="button" data-bs-toggle="collapse" data-bs-target="#collapse1" aria-expanded="true" aria-controls="collapse1">چرا سئولند رو انتخاب کنم؟</button>
                </h3>
                <div id="collapse1" class="accordion-collapse border-0 collapse show" aria-labelledby="heading1" data-bs-parent="#accordion">
                  <div class="accordion-body">انتخاب بهترین شرکت تولید محتوا و بهینه ساز یعنی جهش بزرگ و افزایش دید ترافیک .</div>
                </div>
              </div>
              <div class="accordion-item">
                <h3 class="accordion-header" id="heading2">
                  <button class="accordion-button shadow-none mb-0 bg-transparent collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse2" aria-expanded="false" aria-controls="collapse2">چرا لینک سازی مهم است ؟</button>
                </h3>
                <div id="collapse2" class="accordion-collapse border-0 collapse" aria-labelledby="heading2" data-bs-parent="#accordion">
                  <div class="accordion-body">انتخاب بهترین شرکت تولید محتوا و بهینه ساز یعنی جهش بزرگ و افزایش دید ترافیک .</div>
                </div>
              </div>
              <div class="accordion-item">
                <h3 class="accordion-header" id="heading3">
                  <button class="accordion-button shadow-none mb-0 bg-transparent collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse3" aria-expanded="false" aria-controls="collapse3">چرا  ساخت کلمه کلیدی مهم است ؟</button>
                </h3>
                <div id="collapse3" class="accordion-collapse border-0 collapse" aria-labelledby="heading3" data-bs-parent="#accordion">
                  <div class="accordion-body">انتخاب بهترین شرکت تولید محتوا و بهینه ساز یعنی جهش بزرگ و افزایش دید ترافیک .</div>
                </div>
              </div>
              <div class="accordion-item">
                <h3 class="accordion-header" id="heading4">
                  <button class="accordion-button shadow-none mb-0 bg-transparent collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse4" aria-expanded="false" aria-controls="collapse4">محتوای با کیفیت  در امر سئو مهم است ؟</button>
                </h3>
                <div id="collapse4" class="accordion-collapse border-0 collapse" aria-labelledby="heading4" data-bs-parent="#accordion">
                  <div class="accordion-body">انتخاب بهترین شرکت تولید محتوا و بهینه ساز یعنی جهش بزرگ و افزایش دید ترافیک .</div>
                </div>
              </div>
              <div class="accordion-item">
                <h3 class="accordion-header" id="heading5">
                  <button class="accordion-button shadow-none mb-0 bg-transparent collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse5" aria-expanded="false" aria-controls="collapse5">خط قرمز در سئو چیست ؟</button>
                </h3>
                <div id="collapse5" class="accordion-collapse border-0 collapse" aria-labelledby="heading5" data-bs-parent="#accordion">
                  <div class="accordion-body">انتخاب بهترین شرکت تولید محتوا و بهینه ساز یعنی جهش بزرگ و افزایش دید ترافیک .</div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-12 mt-7 mt-lg-0">
            <div class="box-shadow p-5 rounded white-bg js-sticky">
              <h5>اطلاعات پروژه</h5>
              <div class="portfolio-meta-list mb-4">
                <div class="portfolio-meta-icon">
                  <i class="flaticon-target-icon"></i>
                </div>
                <div class="portfolio-meta-desc">
                  <span class="portfolio-meta-title">مجری :</span>
                  <span class="portfolio-meta-sub-title">سئولند<span>
                </div>
              </div>
              <div class="portfolio-meta-list mb-4">
                <div class="portfolio-meta-icon">
                  <i class="flaticon-seo-3"></i>
                </div>
                <div class="portfolio-meta-desc">
                  <span class="portfolio-meta-title">موضوع:</span>
                  <span class="portfolio-meta-sub-title">برند سازی</span>
                </div>
              </div>
              <div class="portfolio-meta-list mb-4">
                <div class="portfolio-meta-icon">
                  <i class="flaticon-report"></i>
                </div>
                <div class="portfolio-meta-desc">
                  <span class="portfolio-meta-title">تاریخ انجام:</span>
                  <span class="portfolio-meta-sub-title">22 فروردین 1403</span>
                </div>
              </div>
              <div class="portfolio-meta-list mb-4">
                <div class="portfolio-meta-icon">
                  <i class="flaticon-gps"></i>
                </div>
                <div class="portfolio-meta-desc">
                  <span class="portfolio-meta-title">محل:</span>
                  <span class="portfolio-meta-sub-title">ایران - تهران - ادرس مورد نظر شما</span>
                </div>
              </div>
              <div class="portfolio-meta-list">
                <div class="portfolio-meta-icon">
                  <i class="flaticon-link-building"></i>
                </div>
                <div class="portfolio-meta-desc">
                  <span class="portfolio-meta-title">وب سایت:</span>
                  <span class="portfolio-meta-sub-title">www.سئولند</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    <!--portfolio end-->
    
    </div>
    
    <!--body content end--> 

{% endblock %}
