{% extends 'base.html' %} {% load static %} {% block title %} جزئیات
{{service.title}} {% endblock %} {% block content %}
<!--body content start-->

<div class="page-content">

    <!--portfolio start-->
    
    <section>
      <div class="container">
    
        <div class="row mt-3">
          <div class="col-lg-8 col-md-12">
            <h3 class="mb-3" style="font-family: avini;">{{service.title}}</h3>
            <p class="" style="font-family: sans;font-size: 15px;">{{service.discription}}</p>
            <h3 class="mb-3" style="font-family: avini;">ارزش های تک تیم </h3>
            <p style="font-family: sans;">باعث افتخار ماست که پروژه ی کسی همچون شما توسط تیم تک انجام بگیرد . </p>
            <div class="row mt-4">
              <div class="col-md-6">
                <ul class="list-unstyled list-icon style-2 mb-4">
                  <li>
                    <i class="flaticon flaticon-check-mark"></i>  تیمی جوان ولی با تجربه 
                  </li>
                  <li>
                    <i class="flaticon flaticon-check-mark"></i> گزارش و تجزیه و تحلیل پیشرفته
                  </li>
                 
                </ul>
              </div>
              <div class="col-md-6">
                <ul class="list-unstyled list-icon style-2 mb-4">
                  <li>
                    <i class="flaticon flaticon-check-mark"></i>   کتمرین قیمت و بهترین کیفیت
                  </li>
                  <li>
                    <i class="flaticon flaticon-check-mark"></i> پشتیبانی 2 ساله !
                  </li>
                </ul>
</div>
             
            </div>
          
            <h3 class="mb-3" style="font-family: avini;">بهترین نتایج</h3>
            <p style="font-family: sans;font-size: 15px;">ما در تیم تک در تلاش هستیم که با یادگیری موارد جدید و پیشرفته پروژه شمارا در حد توانمان با بهترین کیفیت روز دنیا به سرانجام برسانیم .</p>
            <div class="row ">
<div class="col-lg-12 d-flex justify-content-center align-items-center">
  <a class="themeht-btn primary-btn" href="{% url 'services:order-register' %}">
    <span style="font-size:20px"> ثبت سفارش پروژه {{service.title}} </span>
    <i class="bi bi-arrow-left"></i>
  </a>
</div>
            </div>
            <div class="accordion" id="accordion">
              <div class="accordion-item">
                <h3 class="accordion-header" id="heading1">
                  <button class="accordion-button shadow-none mb-0 bg-transparent" type="button" data-bs-toggle="collapse" data-bs-target="#collapse1" aria-expanded="true" aria-controls="collapse1">چرا تک تیم رو انتخاب کنم؟</button>
                </h3>
                <div id="collapse1" class="accordion-collapse border-0 collapse show" aria-labelledby="heading1" data-bs-parent="#accordion">
                  <div class="accordion-body">تیمی جوان و آینده دار با امکانت جدید و پیشرفته با استفاده از تکنولوژی روز دنیا پروژه شما را به نحو احسن و در حد توان انجام خواهند داد  .</div>
                </div>
              </div>
              <div class="accordion-item">
                <h3 class="accordion-header" id="heading2">
                  <button class="accordion-button shadow-none mb-0 bg-transparent collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse2" aria-expanded="false" aria-controls="collapse2">چرا نیاز به سایت دارید ؟</button>
                </h3>
                <div id="collapse2" class="accordion-collapse border-0 collapse" aria-labelledby="heading2" data-bs-parent="#accordion">
                  <div class="accordion-body">هر شرکت و کسب و کاری برای تبلیغ فروش و محصول خود به جهانیان و فروش آنلاین معتبر  نیاز به یک سایت دارد  .</div>
                </div>
              </div>
             
              <div class="accordion-item">
                <h3 class="accordion-header" id="heading4">
                  <button class="accordion-button shadow-none mb-0 bg-transparent collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse4" aria-expanded="false" aria-controls="collapse4">پروژه شما چقدر زمان می برد ؟</button>
                </h3>
                <div id="collapse4" class="accordion-collapse border-0 collapse" aria-labelledby="heading4" data-bs-parent="#accordion">
                  <div class="accordion-body">بعد از ثبت سفارش شما از هر طریقی تیم پشتیبانی تک در کمترین زمان با شما تماس خواهند گرفت و از جزئیات دقیق پروژه مطلع می شوند و پروژه با بیشترین توان تیم استارت خواهد خورد . .</div>
                </div>
              </div>
              
            </div>
          </div>
          <div class="col-lg-4 col-md-12 mt-7 mt-lg-0">
            <div class="box-shadow p-5 rounded white-bg js-sticky">
              <h5>اطلاعات پروژه</h5>
              <div class="portfolio-meta-list mb-4">
                <div class="portfolio-meta-icon">
                  <i class="flaticon-target-icon"></i>
                </div>
                <div class="portfolio-meta-desc">
                  <span class="portfolio-meta-title">مجری :</span>
                  <span class="portfolio-meta-sub-title">{{service.director}}<span>
                </div>
              </div>
              <div class="portfolio-meta-list mb-4">
                <div class="portfolio-meta-icon">
                  <i class="flaticon-dashboard"></i>
                </div>
                <div class="portfolio-meta-desc">
                  <span class="portfolio-meta-title">موضوع:</span>
                  <span class="portfolio-meta-sub-title"> {{service.title}}</span>
                </div>
              </div>
            
              <div class="portfolio-meta-list mb-4">
                <div class="portfolio-meta-icon">
                  <i class="flaticon-gps"></i>
                </div>
                <div class="portfolio-meta-desc">
                  <span class="portfolio-meta-title">محل:</span>
                  <span class="portfolio-meta-sub-title">ایران - اصفهان  - بادرود - خیابان امام کوی شهریار </span>
                </div>
              </div>

              <div class="portfolio-meta-list mb-4">
                <div class="portfolio-meta-icon">
                  <i class="flaticon-analysis"></i>
                </div>
                <div class="portfolio-meta-desc">
                  <span class="portfolio-meta-title">تعداد بازدید:</span>
                  <span class="portfolio-meta-sub-title">{{service.counted_view}}نفر</span>
                </div>
              </div>
              <div class="portfolio-meta-list">
                <div class="portfolio-meta-icon">
                  <i class="flaticon-link-building"></i>
                </div>
                <div class="portfolio-meta-desc">
                  <span class="portfolio-meta-title">وب سایت ما :</span>
                  <span class="portfolio-meta-sub-title">www.takteam.ir</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    <!--portfolio end-->
    
    </div>
    
    <!--body content end--> 

{% endblock %}
